<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout::header}"></div>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/customer/update}" th:object="${customerDto}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{customerId}"/>
        <div>
            <label>Customer Code</label>
            <input type="text" th:field="*{customerCode}"/>
            <span th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></span>
        </div>
        <div>
            <label>Customer Name</label>
            <input type="text" th:field="*{customerName}"/>
            <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>
        </div>
        <div>
            <label>Customer Birthday</label>
            <input type="text" th:field="*{customerBirthday}"/>
            <span th:if="${#fields.hasErrors('customerBirthday')}" th:errors="*{customerBirthday}"></span>
        </div>
        <div>
            <label>Customer Gender</label>
            <select class="form-control" th:field="*{customerGender}">
                <option th:value="0" th:text="Male"></option>
                <option th:value="1" th:text="Female"></option>
            </select>
        </div>
        <div>
            <label>Customer Id Card</label>
            <input type="number" th:field="*{customerIdCard}"/>
            <span th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></span>
        </div>
        <div>
            <label>Customer Phone</label>
            <input type="number" th:field="*{customerPhone}"/>
            <span th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></span>
        </div>
        <div>
            <label>Customer Email:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" aria-label="Recipient's username"
                       aria-describedby="basic-addon2" th:field="*{customerMail}">
                <span class="input-group-text" id="basic-addon2">@gmail.com</span>
            </div>
            <p th:if="${#fields.hasErrors('customerMail')}" th:errors="*{customerMail}"></p>
        </div>
        <div>
            <label>Customer Address</label>
            <input type="text" th:field="*{customerAddress}"/>
            <span th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"></span>
        </div>
        <div>
            <label>Customer Type</label>
            <select class="form-control" th:field="*{customerType}">
                <option th:each="item:${customerTypeList}" th:text="${item.customerTypeName}"
                        th:value="${item.customerTypeId}"></option>
            </select>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>