<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/customer_type}">
        Back to customer type list
    </a>
</p>
<div id="form">
    <!--/*@thymesVar contractId="blog" type="com.example"*/-->
    <form th:action="@{/customer_type/save}" th:object="${customerTypeList}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{customerTypeId}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{customerTypeName}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>