<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Category</h3>
<p>
    <a th:href="@{/category/create_category}">
        Add new category
    </a>
</p>

<div class="notify">
    <!--/*@thymesVar id="success" type="com.codegym"*/-->
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="blog">
    <thead>
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="categoryList" type="com.example"*/-->
    <tr th:each="row : ${categoryList}">
        <td th:text="${row.getNameCategory()}"></td>
        <td><a th:href="@{/category/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/category/{id}/delete(id=${row.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>